header{width: 100%; background-color: yellow;height: 100px;}

.title{font-size: 45px;padding-top: 20px;text-align: center;}

.aside-left,.main,.last_post{float: left;}

.aside-left{width: 20%;padding: 10px 0 0 20px;box-sizing: border-box;}

.last_post{width: 20%; border: 2px dotted purple;padding: 10px 20px 0 0;text-align: end;box-sizing: border-box;}

.ol_right {list-style: none;padding: 0;}

.main{width: 60%; border-left: 2px solid purple;padding: 20px 0 0 20px;box-sizing: border-box;}

#foooter {clear:both;width:100%;height:50px;font-size:14px;padding-top:10px;}

#email{text-align: center;color: black;}

a:hover {color: purple;}

a:visited{color: rgb(172, 37, 172);}

h2 {margin: 0;}


