body{background-color:#bdc3c7;}
h1{color:#9b59b6;}
h2{color:#ffa500;}
li{color:#0000ff;}
p{background-color:#ffff00;}
input{border: 3px solid #ff0000;}
.hello{background-color: #ffffff;}
#special{border: 2px solid #008000;}
div p{font-size:25px}
input[type="text"]{background-color: #808080;}
div:nth-child(5) p {background-color: #FC0FC0;}
div:nth-child(5) p:nth-child(3) {border: 5px solid #ffffff;}
div:nth-child(5) em {background-color:#ffffff;font-size:20px;}
nput[type="checkbox"]:checked{margin-left:50px;}
label {text-transform: uppercase;}
#special::first-letter {color: #008000;font-size: 100px;}
h1:hover {color: #FF0000;}
a:visited {color: #008000;}


